#[General settings]

#The twitch username your bot runs on
botName = BotName

#Get the oauth of your bot's account here: https://twitchapps.com/tmi/
oauth = oauth:asdfasdfasdfasdfasdfasdfasdf

#The channel your bot runs in
channel = Channel

#The name of the bot's admin(probably your twitch name) 
admin = Admin

#Placeholder until I implement points system(has no effect)
trustedUsers = 


#[Flags]

#Show twitch chat in terminal(true or false)
twitchChat = true

#Join and leave channels silently(true or false)
silentJoinLeave = false


#[Variables for custom command formatting(true or false)]

{sender} = true
{realsender} = true
{time} = true
{botuptime} = true
{commitHash} = true
{commitNumber} = true
{branch} = true


#[Modules(true or false}

CustomCommands = true
Eval = false
