#[General settings]

#The twitch username your bot runs on
botName = BotName

#Get the oauth of your bot's account here: https://twitchapps.com/tmi/
oauth = oauth:asdfasdfasdfasdfasdfasdfasdf

#The channel your bot runs in
channel = Channel

#The name of the bot's admin(probably your twitch name)
admin = Admin

#Database
db.url = jdbc:mysql://hostname:port/database
db.username = username
db.password = password

#Users with superModerator access level
superModerators =


#[Flags(true/false)]

#Show twitch chat in terminal
twitchChat = true

#Disable outgoing messages
silentMode = false


#[Modules(true/false)]

CustomCommands = true
Points = true
Raffle = true
Roulette = true
Pyramids = true
Api = false
Eval = false


#[Variables for custom command formatting(true/false)]

{sender} = true
{realsender} = true
{time} = true
{detailedtime} = true
{date} = true
{botuptime} = true
{botname} = true
{commitHash} = true
{commitNumber} = true
{branch} = true
{admin} = true
{channel} = true
{chattersCount} = true
